<section class="container-fluid popupbg h-100">
    <div class="p-3">SIGN UP
    </div>
    <section class="bg-light ">
        <div class="row justify-content-center">Sign Up with existing accounts
        </div>
        <div class="d-flex justify-content-center">
            <div class="d-flex m-2">
                <i class="bi bi-facebook" style="font-size: 35px;"></i>
            </div>
            <div class="d-flex m-2">
                <i class="bi bi-google" style="font-size: 35px;"></i>
            </div>
        </div>
        <section class="row justify-content-center">
            <form>
                <div class="row justify-content-center">
                    <input type="text" style="width: 80%;" class="inputbg" placeholder="First Name">
                    <input type="text" style="width: 80%;" class="inputbg" placeholder="Last Name">
                    <input type="text" style="width: 80%;" class="inputbg" placeholder="Email address">
                    <input type="email" style="width: 80%;" class="inputbg" placeholder="Email address">
                    <input type="text" style="width: 80%;" class="inputbg" placeholder="Mobile Number">
                    <input type="password" style="width: 80%;" class="inputbg" placeholder="password ">
                    <input type="password" style="width: 80%;" class="inputbg" placeholder="Repeat password ">
                </div>
                <div class="mx-5 my-3">
                    <input type="checkbox">
                    <label class="mx-3"> I accept the terms and conditions</label><br>
                </div>
                <div class="row justify-content-center ">
                    <button style="width: 140px;" class="btn btn-dark m-3">Sign Up</button>
                </div>
            </form>
        </section>
    </section>
    <footer class="row justify-content-between m-2 p-3 ">
<div class="col d-flex align-items-center">
Already have an account ?
</div>
<div class="col d-flex align-items-center justify-content-end">
<button class="btn btn-dark">Login</button>
</div>
    </footer>
</section>