<div class="container-fluid bg py-1 d-flex flex-column h-100">
  <div class="row justify-content-center align-items-center small p-1" *ngIf="showCookieBar">
    <span class="fw-bold mr-1 ">Cookies Acceptance </span> Brandnew uses cookies to give our user the best
    possible experience,byusing this websites you agree to our cookie policy.
    <a class="bg-white text-dark small fw-bold p-2" href="#" (click)="accepted()">ACCEPT</a>
  </div>
  <header class="headerbg row position-relative">
    <div class="col">
      <img src="assets/logo_header.png">
    </div>
    <div class="col d-flex justify-content-end   align-items-center ">
      <i class="bi bi-list px-5 " style="font-size: 40px; cursor: pointer;" (click)="toggleShow()"></i>
      <div class="menubg " *ngIf="Show">'
        <h6 class="fw-bold">MY ACCOUNT</h6>
        <section>

          <span class="d-block text-dark text-decoration-none" style="cursor: pointer;">Dashboard</span>
          <span class="d-block text-dark" style="cursor: pointer;" (click)="openDialog()">Login</span>
          <span class="d-block text-dark" style="cursor: pointer;">Logout</span>
          <hr>
          <div>
            <span class="d-block text-dark" style="cursor: pointer;">Contact Us</span>
          </div>

        </section>

      </div>
      <div>

      </div>

    </div>
  </header>
  <app-nav></app-nav>
  <div class="row p-5 routerbg d-flex flex-grow-1">
    <router-outlet>

    </router-outlet>
  </div>

  <app-footer></app-footer>
</div>