<nav class="row bgnav my-1">
    <div class="col-12 px-5 my-3 " style="font-size: 28px;">
      Fablinen
    </div>
    <div class="col-12  d-flex justify-content-center ">
      <a class="text-center " routerLink="profile" routerLinkActive="active">Profile</a>
      <a class="text-center " routerLink="notification" routerLinkActive="active">Notification</a>
      <a class="text-center " routerLink="customerorders" routerLinkActive="active">Customer Orders</a>
      <a class="text-center " routerLink="storeorder" routerLinkActive="active">Store Order</a>
      <a class="text-center " routerLink="catelogue" routerLinkActive="active">Catelogue</a>
      <a class="text-center " routerLink="gsn" routerLinkActive="active">GSN</a>
      <a class="text-center " routerLink="update" routerLinkActive="active">Update</a>
      <a class="text-center " routerLink="invoice" routerLinkActive="active">Invoice</a>


    </div>
  </nav>